<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Hello <b>{{user.firstName}} {{user.lastName}},</b></mat-card-title>
                    <mat-card-subtitle>Reset your password....</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="mt-5">
                    <form (ngSubmit)="resetPassword()">
                        <p>
                            <mat-form-field class="full-width" appearance="fill">
                                <mat-label>New Password</mat-label>
                                <input required name="username" id="resetInput" [(ngModel)]="password" matInput
                                    placeholder="Enter your new password" (keyup)="checkPassword()" name="password">
                                <mat-icon matSuffix>mode_edit</mat-icon>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field class="full-width" appearance="fill">
                                <mat-label>Confirm Password</mat-label>
                                <input required name="username" type="password" id="resetInput" matInput
                                    placeholder="Confirm your password" name="confirmPassword"
                                    [(ngModel)]="confirmPassword" (keyup)="checkPassword()">
                                <mat-icon matSuffix>mode_edit</mat-icon>
                            </mat-form-field>
                        </p>
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button class="btn btn-outline-primary" id="checkPass" disabled type="submit">Reset
                                Password</button>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>