<div class="container">
    <mat-card class="mt-3">
        <mat-card-header>
            <mat-card-title>
                <h4>Forgot Password</h4>
            </mat-card-title>

        </mat-card-header>
        <mat-card-content>
            <form (ngSubmit)="sendOTP()" class="mt-4">
                <p>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Email</mat-label>
                        <input required name="username" id="resetInput" [(ngModel)]="email.email" matInput
                            placeholder="Enter email">
                        <mat-icon matSuffix>mode_edit</mat-icon>
                        <mat-hint *ngIf="!isFound" class="isfound">Please enter valid email address !</mat-hint>
                    </mat-form-field>
                </p>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-outline-success" id="resetButton" type="submit">Submit</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
    <mat-card class="mt-3" *ngIf="resetLink">
        <mat-card-header>
            <mat-card-title>
                <h4>Check email for reset link</h4>
            </mat-card-title>

        </mat-card-header>
        <mat-card-content>
            <p>An email has been sent to the email address <b>({{email.email}})</b>. Check the inbox of email account,
                and click the reset link provided.</p>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-outline-primary" (click)="refreshPage()">HOME</button>
            </div>
        </mat-card-content>
    </mat-card>

</div>