.profile-image {
  max-width: 100px;
  max-height: 100px;
  border: 1px solid black;
  border-radius: 50%;
}
tr,
td {
  padding: 15px;
}
.card,
a {
  text-decoration: none;
}

.students {
  color: white;
  background: rgb(0, 6, 36);
  background: linear-gradient(
    90deg,
    rgba(0, 6, 36, 1) 0%,
    rgba(0, 7, 54, 1) 20%,
    rgba(0, 0, 255, 1) 100%
  );
}

.exams {
  color: white;
  background: rgb(0, 6, 36);
  background: linear-gradient(
    90deg,
    rgba(0, 6, 36, 1) 0%,
    rgba(82, 9, 121, 1) 20%,
    rgba(179, 0, 255, 1) 100%
  );
}

.categories {
  color: white;
  background: rgb(0, 6, 36);
  background: linear-gradient(
    90deg,
    rgba(0, 6, 36, 1) 0%,
    rgba(9, 94, 121, 1) 20%,
    rgba(0, 255, 248, 1) 100%
  );
}

.result {
  color: white;
  background: rgb(0, 6, 36);
  background: linear-gradient(
    90deg,
    rgba(0, 6, 36, 1) 0%,
    rgba(54, 35, 0, 1) 20%,
    rgba(255, 145, 0, 1) 100%
  );
}
.responsive {
  width: 100%;
  height: auto;
}

@media (max-width: 600px) {
  .responsive {
    width: 20%;
    height: auto;
  }
}
