<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap" rel="stylesheet">

<app-navbar></app-navbar>
<div class="content" style="height: 100%;">
    <!-- <img src="../../../assets/1.png" alt=""> -->
    <div class="row">
        <div class="show-mobile">
            <p class="text-muted p-0 m-0">Turn on the desktop site(If possible)</p>
        </div>
        <div class=" col-md-6">
            <div class="container ml-4 m-2">
                <h1>Exam</h1>
                <h1>Portal</h1>
            </div>
            <div class="blur logo text-center">
                <div class='reflection-container1'>
                    <a class='reflection-grid-cell reflection-grid-cell-1'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-2'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-3'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-4'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-5'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-6'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-7'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-8'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-9'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-10'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-11'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-12'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-13'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-14'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-15'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-16'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-17'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-18'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-19'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-20'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-21'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-22'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-23'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-24'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-25'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-26'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-27'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-28'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-29'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-30'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-31'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-32'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-33'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-34'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-35'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-36'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-37'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-38'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-39'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-40'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-41'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-42'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-43'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-44'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-45'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-46'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-47'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-48'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-49'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-50'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-51'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-52'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-53'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-54'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-55'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-56'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-57'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-58'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-59'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-60'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-61'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-62'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-63'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-64'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-65'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-66'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-67'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-68'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-69'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-70'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-71'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-72'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-73'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-74'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-75'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-76'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-77'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-78'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-79'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-80'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-81'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-82'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-83'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-84'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-85'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-86'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-87'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-88'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-89'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-90'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-91'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-92'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-93'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-94'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-95'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-96'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-97'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-98'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-99'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-100'
                        href='#'></a>
                    <div class='reflection-content1'></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!-- <div class="text-quote">
                "Success is not final; failure is not fatal: It is the courage to continue that counts"
                <p class="text-end" style="margin-right: 60px;"> - Winston Churchill</p>
            </div> -->
            <div class="m-5">
                <!-- <img src="../../../assets/quiz1.png" style="width: 100%;" class="quizimg" alt=""> -->
                <!-- <div class='reflection-container'>
                    <a class='reflection-grid-cell reflection-grid-cell-1'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-2'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-3'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-4'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-5'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-6'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-7'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-8'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-9'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-10'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-11'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-12'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-13'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-14'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-15'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-16'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-17'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-18'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-19'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-20'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-21'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-22'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-23'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-24'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-25'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-26'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-27'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-28'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-29'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-30'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-31'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-32'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-33'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-34'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-35'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-36'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-37'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-38'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-39'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-40'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-41'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-42'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-43'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-44'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-45'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-46'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-47'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-48'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-49'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-50'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-51'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-52'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-53'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-54'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-55'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-56'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-57'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-58'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-59'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-60'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-61'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-62'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-63'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-64'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-65'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-66'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-67'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-68'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-69'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-70'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-71'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-72'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-73'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-74'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-75'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-76'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-77'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-78'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-79'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-80'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-81'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-82'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-83'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-84'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-85'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-86'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-87'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-88'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-89'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-90'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-91'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-92'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-93'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-94'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-95'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-96'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-97'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-98'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-99'
                        href='#'></a>
                    <a class='reflection-grid-cell reflection-grid-cell-100'
                        href='#'></a>
                    <div class='reflection-content'></div>
                </div> -->

                <!-- <swiper-container [options]="swipeOptions" [pager]="false" #homeSlide>
                    <swiper-slide>
                      <img src="https://source.unsplash.com/random/512x512">
                    </swiper-slide>
                    <swiper-slide>
                      <img src="https://source.unsplash.com/random/512x512?nature">
                    </swiper-slide>
                    <swiper-slide>
                      <img src="https://source.unsplash.com/random/512x512?portrait">
                    </swiper-slide>
                  </swiper-container> -->

            </div>
            <div class="container text-center ml-4 m-5">
                <button class="btn1 custom-btn btn-3 m-4" (click)="openLogin()"><span>Log
                        In</span></button>
                <button class="btn2 custom-btn btn-3 m-4"
                    (click)="openSignup()"><span>Sign Up</span></button>
            </div>
        </div>
        <marquee behavior="scroll" [scrollAmount]="15" direction="left"
            class="h3 noselect" >
            Welcome to the Exam Portal! This is your one-stop-shop for all your
            online examination needs. Whether you're a student, teacher, or
            administrator, we've got everything you need to manage your exams.
        </marquee>

    </div>

</div>

<div class="container noselect">

    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid hide-mobile" src="../../../assets/101.png" style="height: 450px;" alt="">
        </div>
        <div class="col-md-8">
            <div class="heading">
                <h3>About Exam Portal</h3>
            </div>
            <div class="container">
                <p>
                    An exam portal home page is a website that provides a
                    platform for students and teachers to manage and take exams
                    online. It typically includes features such as exam
                    creation, automated grading, and result tracking. The
                    purpose of an exam portal is to streamline the exam process,
                    save time, and provide a user-friendly experience for both
                    students and teachers. Additionally, exam portals often
                    provide support resources such as FAQs and customer support
                    to ensure a smooth and successful experience for all users.
                    Our exam portal home page is your one-stop-shop for all your
                    exam needs! With our easy-to-use platform, you can create
                    and manage exams, track student progress, and even automate
                    grading. Say goodbye to piles of papers and hello to
                    streamlined, efficient exams.
                </p><p>
                    But that's not all - we're constantly innovating to provide
                    the best possible user experience. Our portal is designed
                    with you in mind, whether you're a student or a teacher. And
                    with our helpful support team, you'll never feel stuck or
                    confused.
                </p><p>
                    So what are you waiting for? Join the thousands of satisfied
                    users who have made the switch to our exam portal. With our
                    cutting-edge technology and unparalleled customer support,
                    we're confident that you'll be glad you did.
                </p>
            </div>
        </div>

    </div>

    <!-- <div class="container">
        <p> The Exam Portal is a web-based application that facilitates the
            delivery of online exams and assessments
            for students. It provides a secure and easy to use platform for the
            delivery of exams and assessments,
            and offers a variety of features and benefits to both instructors
            and students.The Exam Portal offers a
            wide range of features, including:
        </p>

        <ul>
            <li>
                Secure Login: The Exam Portal provides a secure login system,
                which allows instructors to easily
                control access to the exam or assessment.
            </li>
            <li>
                Exam Management: The Exam Portal offers an intuitive interface
                for managing exams and assessments.
                Instructors can easily create, edit and manage exams and
                assessments, as well as assign and track
                results.• Question Bank: The Exam Portal offers an extensive
                question bank, which includes
                multiple-choice, true/false and essay questions. This allows
                instructors to quickly create and edit
                exams and assessments, as well as preview and test questions.
            </li>
            <li>Exam Creation: The exam portal should be able to create exams
                with multiple question types,
                including multiple choice, true/false, and essay questions.
            </li>

            <li>Exam Taker Interface: The exam portal should have a
                user-friendly interface for exam takers to take
                the exam.
            </li>
            <li>Exam Reports: The exam portal should be able to generate reports
                with detailed information about the
                exam results.</li>
            <li>Access Controls: The exam portal should be able to set access
                controls to ensure that only
                authorized users can access the exam.</li>
            <li>Timing Controls: The exam portal should be able to set timing
                controls to prevent cheating by
                controlling how quickly the exam can be completed.</li>
            <li>Secure Communication: The exam portal should provide a secure
                communication channel for transmitting
                exam results and other information.</li>
            <li>Mobile Access: The exam portal should be accessible via mobile
                devices so that users can take exams
                on the go.</li>
        </ul>
        <p>The exam portal is an effective way to deliver tests and assessments.
            It is an efficient system that
            allows students to take exams from any device, including mobile
            phones, tablets, and computers. The
            exam portal also allows instructors to monitor the progress of their
            students and provide feedback
            in real-time.
            <br>

            Exam portals are designed to provide a secure, reliable, and
            user-friendly platform for online exams. It
            also provides a range of features and tools to help instructors
            create and manage online exams. Some
            exam portals include features such as automatic grading, timed
            exams, multiple choice questions, and
            custom question pools.
            <br>

            Exam portals are used by universities and colleges, as well as
            schools, to deliver assessments and
            tests. It provides an efficient and secure way to deliver tests. It
            also helps to ensure that students
            have access to secure and reliable assessment materials.

        </p>
    </div> -->
    <div class="row">
        <div class="col-md-8">
            <div class="heading mt-5">
                <h3>Why use our online exam portal?</h3>
            </div>
                <div class="container">
                    <p> Our online exam portal is an easy-to-use and secure platform that
                        allows
                        you to create, administer, and
                        analyze exams quickly and efficiently. With our online exam portal,
                        you
                        can:
                    </p>
                    <ul>
                        <li>Create and customize exams with multiple question types.</li>
                        <li>Automatically grade and analyze results.</li>
                        <li>Securely store and access exams and results.</li>
                        <li>Generate reports for easy assessment.</li>
                        <li>Set up timed exams and limit the number of attempts.</li>
                    </ul>
                </div>
        </div>
        <div class="col md-4">
            <img class="img-fluid hide-mobile" src="../../../assets/102.png" style="height: 300px;" alt="">
        </div>
    </div>
</div>
<!-- </div> -->


<div class="content mt-5">
    <div class="container">
        <div class="heading">
            <h3 class="mb-0">We'd love some feedback...</h3>
            <p class="text-muted">We value your feedback</p>
        </div>
        <div class="feedback-form text-center">
            <form (ngSubmit)="sendFeedback()">
                <mat-form-field class="half-width" appearance="fill">
                    <mat-label>Your Name</mat-label>
                    <input name="subject" [(ngModel)]="feedback.subject"
                        matInput placeholder="Enter your name">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
                <br>

                <mat-form-field class="half-width" appearance="fill">
                    <mat-label>Feedback</mat-label>
                    <textarea name="message" rows="8"
                        [(ngModel)]="feedback.message" matInput
                        placeholder="Write your feedback..."></textarea>
                </mat-form-field>

                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-outline-dark btn-lg" type="submit">Submit</button>
                </div>
                <!-- {{feedback | json}} -->
            </form>
        </div>

    </div>
</div>
<div class="content">
    <!-- Footer -->
    <footer class="text-center text-lg-start bg-light text-muted">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between
            p-4 border-bottom">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block">
                <span>Get connected with us on social networks:</span>
            </div>
            <!-- Left -->

            <!-- Right -->
            <div>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-google"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-github"></i>
                </a>
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->

        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h4 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-gem me-3"></i>Exam Portal
                        </h4>
                        <p>
                            “Of course, it is very important to be sober when
                            you take an exam. Many worthwhile careers
                            in the street-cleansing, fruit-picking and
                            subway-guitar-playing industries have been
                            founded on a lack of understanding of this simple
                            fact.”
                            <br>― Terry Pratchett, Moving Pictures
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h4 class="text-uppercase fw-bold mb-4">
                            Technologies Used
                        </h4>
                        <p>
                            <a href="#!" class="text-reset">Angular</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Spring Boot</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">MySQL</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Angular Material</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Bootstrap 5</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h4 class="text-uppercase fw-bold mb-4">
                            Social Links
                        </h4>
                        <p>
                            <a href="#!" class="text-reset">Facebbok</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Instgram</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Linked In</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Git Hub</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Twitter</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0
                        mb-4">
                        <!-- Links -->
                        <h4 class="text-uppercase fw-bold mb-4">
                            Contact
                        </h4>
                        <p><i class="fas fa-home me-3"></i> Sangamner,
                            Maharashtra, India 422605</p>

                        <p> <i class="fas fa-home me-3"></i><a
                                href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=examportal@gmail.com"
                                target="_blank" rel="noopener noreferrer">examportal@gmail.com</a>.</p>
                        <p><i class="fas fa-phone me-3"></i> + 91 9898989898</p>
                        <p><i class="fas fa-print me-3"></i> + 91 9999999999</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0,
            0.05);">
            © 2023 Copyright:
            <a class="text-reset fw-bold" href="https://google.com/">Exam Portal</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</div>