.example-card {
  max-width: 100%;
}
.example-header-image {
  background-image: url("/assets/quiz.png");
  background-size: cover;
}
@media (max-width: 600px) {
  .mobile-view {
    display: none;
  }
  .attemptdate
  {
    font-size: 12px;
  }
  
}
@media only screen and (min-width: 768px) {
  .show-mobile {
    display: none;
  }
  
}
